.search_bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 30px;
   width: 90%;
   padding: 6px 0;
   border-radius: 30px;
   border: 2px solid var(--btn-border-color);
   background: var(--bg-text-color);
}

.btn_search {
   width: 12px;
   height: 12px;
   background: none;
   border-radius: 12px;
   border: 2px solid var(--btn-color);
   transform: translate(5px,-2px);
   cursor: pointer;
}

.btn_search::before {
   display: flex;
   content: "";
   width: 0;
   height: 7px;
   background: var(--btn-color);
   border: 1px solid var(--btn-color);
   transform: translate(10px,6px) rotate(315deg);
}

.input {
   background: none;
   border: none;
}

.input:focus {
   outline: none;
}

.btn_clear {
   width: 10px;
   height: 20px;
   background: none;
   border: none;
   cursor: pointer;
   color: var(--btn-close-color);
   font-size: large;
   transform: translate(-6px,-1px);
}

.btn_clear:hover {
   color: var(--btn-close-color-hover);
}

.active {
   display: flex;
}

.active .search_bar {
   width: 260px;
   border: 2px solid var(--btn-border-color);
   background: var(--bg-text-color);
}

.active .icon {
   display: none;
}