.addcountry {
	margin-left: 0.5rem;
}

.countries {
	width: 250px;
}

.addcountry span {
	margin: 0;
}

.addcountry span.plus {
	border: 1px solid var(--btn-border-color);
	color: var(--title-color);
	padding: 0 0.3rem;
	border-radius: 5px;
	margin-left: 0.5rem;
	font-weight: 500;
}

.addcountry span.plus:hover {
	cursor: pointer;
}