.home {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   background: var(--bg-color);
   height: 100vh;
   padding: 10px 10px;
}

.world_img {
   width: 75%;
}