.nav_bar {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   margin-top: 1rem;
}

.home {
   text-decoration: none;
   font-size: xx-large;
   color: var(--title-color);
   font-weight: 500;
}

.home:hover {
   color: var(--title-color-hover);
}